*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font: 62.5%;
}

body{
    background-color: hsl(0, 2%, 11%);
}
/* Header */

header{
    background-color: #0F0F0F;
    display: flex;
    padding: 1.5rem;
    gap: 30rem;
}

.logo{
    display: flex;
    gap: 1rem;
}
.logo h2{
    font-family: 'League Gothic', sans-serif;
    font-size: 45px;
    color: rgba(255, 255, 255, 0.905);
}
.logo img{
    width: 4rem;
}

.btn img{
    width: 2rem;
    opacity: .2;
}
.btn{
    border-radius: 0rem 1rem 1rem 0rem;
    width: 3rem;
    cursor: pointer;
}
.buscador {
    display: flex;
    opacity: .9;
    height: 2.8rem;

}
.buscador input{
    width: 35rem;
    padding: .8rem;
    border-radius: 1rem 0rem 0rem 1rem;
    background-color: white;
}

/* Main */

main{   
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
}

/* VIDEO SECTION */
.video{
    height: 40rem;
    width: 60rem;
}
.video h2{
    margin-top: 1rem;
}
.video iframe{
    width: 100%;
    height: 100%;
}

.video-youtube{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.video-youtube h2{
    color: white;
    text-align: center;
}

/* FALTA LA SECCION DE VIDEOS RELACIONADOS */




/* COMENTARIOS */
.seccion-comentarios{
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50rem;
}


/* HEADER COMENTARIOS */

.header-comentarios{
    display: flex;
    color: white;
    align-items: center;
    gap: 2rem;
    padding: .5rem;
    border-bottom: 3px solid white;
}
.header-comentarios h2{
    font-size: 40px;
    color: white;
}
.header-comentarios img{
    border-radius: 10rem;
    width: 4rem;
}

.caja-comentarios{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-y: auto;  /* con esto hago el scroll en el eje y */
    height: 35rem; /* debo darle una altura definida */
}

.caja-comentarios::-webkit-scrollbar{
    background-color: hsl(0, 2%, 11%);
}
.caja-comentarios::-webkit-scrollbar-track{
    background-color: hsla(330, 5%, 49%, 0.606);
}
.caja-comentarios::-webkit-scrollbar-thumb{
    background-color: #AD2727;
}


.comentario h3{
    color: #AD2727;
    font-size: 25px;
}
.comentario p{
    margin-bottom: 1rem;
}
.comentario{
    border-bottom: thin solid #AD2727;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* DESCRIPCION DEL VIDEO */

.descripcion{
    background-color:rgba(0, 0, 0, 0.677);
    padding: 1rem;
    border-radius: .8rem;
    height: 10rem;
    color: white;
}
.descripcion h2{
    margin-bottom: 1rem;
    text-align: center;
}


